* {
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    align-items:center;
    justify-content: center;
}

.gameboard {
    height: 50vh;
    width: 50vh;
    border: 2px solid black;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 60px;
}

.square {
    border: none;
    text-decoration: none;
    background-color: white;
    height: 120px;
    width: 120px;
    font-size: 60px;
    font-weight: bolder;
    cursor: pointer;
}

.gameboard td {
    border: 1px solid black;
}

.game-info {
    text-align: center;
    width: 100%;
    padding-top: 50px;
    font-size: 50px;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    text-decoration: none;
    border: 1px solid black;
    background-color: white;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}




